<article class="listing">
  <div class="details">
    <h3>{{#link-to "cases.show" case.id class=case.id}}{{this.case.title}}{{/link-to}}</h3>
    <img src="/assets/images/screenshot-{{case.id}}.jpg" alt="" class="cases-thumbnail">
  </div>
</article>
