<li class="thumbnail cell span-6 margin-bottom-20">
  {{#link-to "cases.show" case.id class=case.id}}
    <h4 class="thumbnail-description">{{this.case.title}}</h4>
    <img class="thumbnail-image" src="/assets/images/screenshot-{{case.id}}.jpg" alt="{{case.id}}-screenshot">
  {{/link-to}}
</li>
