<li class="thumbnail cell span-6">
  {{#link-to "cases.show" case.id class=case.id}}
    <h3>{{this.case.title}}</h3>
    <img src="/assets/images/screenshot-{{case.id}}.jpg" alt="" class="cases-thumbnail">
  {{/link-to}}
</li>
