<nav class="grid">
  <ul class="cell from-2 to-12">
    <li>{{#link-to "home" class="underline"}}Home{{/link-to}}</li>
    <li>{{#link-to "cases" class="underline"}}Cases{{/link-to}}</li>
    <li>{{#link-to "contact" class="underline"}}Contact{{/link-to}}</li>
  </ul>
</nav>
{{yield}}
