<nav class="full-width fixed">
  <div class="grid max-width-1200 side-padding-30">
    <ul class="cell flex justify-end align-center">
      <li>{{#link-to "home" class="underline"}}Home{{/link-to}}</li>
      <li>{{#link-to "cases" class="underline"}}Cases{{/link-to}}</li>
      <li>{{#link-to "contact" class="underline"}}Contact{{/link-to}}</li>
    </ul>
  </div>
</nav>
{{yield}}
