<nav class="grid">
  <ul class="cell from-2 to-12">
    <li>{{#link-to "home"}}Home{{/link-to}}</li>
    <li>{{#link-to "cases"}}Cases{{/link-to}}</li>
    <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
  </ul>
</nav>
{{yield}}
