<nav class="grid">
  <ul>
    <li>{{#link-to "home"}}home{{/link-to}}</li>
    <li>{{#link-to "cases"}}cases{{/link-to}}</li>
    <li>{{#link-to "contact"}}contact{{/link-to}}</li>
  </ul>
</nav>
{{yield}}
