/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// MY OWN CODE

//breakpoints:
$breakpoint-tablets: 481px;
$breakpoint-large-tablets: 768px;
$breakpoint-laptops: 1025px;

$navbar-height: 50px;

$section-side-padding: 30px;
$section-top-padding: 20px;
$section-bottom-padding: 20px;

$primary-color: #5690CC;
$secondary-color: #A1453F;

$transition-time: .3s;
$grid-column-gap: 15px;

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  position: absolute;
	font-family: Helvetica;
	font-size: 16px;
	overflow-x: hidden;
}

section {
	height: 100%;
	padding-top: calc(#{$section-top-padding} + #{$navbar-height});

	> :last-child {
		padding-bottom: $section-bottom-padding;
	}
}

nav {
	background: rgba(white, 1);
	z-index: 5;

  ul {
		height: $navbar-height;

    li {
      margin-left: 30px;
    }
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
  display: block;
	transition: color $transition-time ease-in-out;

	&.active {
		color: $primary-color;
	}

	&.underline {
		position: relative;

		&:after {
			position: absolute;
			left: 0;
			bottom: -3px;
			content: '';
			height: 2px;
			width: 0%;
			background: $primary-color;
			transition: width $transition-time ease-in-out;
		}
	}

	&.underline.active {
		&:after {
			width: 100%;
		}
	}
}

img {
  max-width: 100%;
  display: block;
}

h1 {
	font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

p {
	margin-bottom: 1em;
	line-height: 1.5em;
}

.content {
  margin: 0 auto;
	height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $grid-column-gap;
	margin: 0 auto;
  box-sizing: border-box;
	width: 100%;

	&.space-between {
	  align-content: space-between;
	}
}

.flex {
	display: flex;

	&.column {
		flex-direction: column;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.align-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-end {
		justify-content: flex-end;
	}

	&.content-center {
		align-content: center;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}

.cell {
	grid-column-start: 1;
	grid-column-end: 13;
}

.button {
  border: 1px solid $secondary-color;
  padding: 10px;
  border-radius: 5px;
	transition: border-color $transition-time ease-in-out, color $transition-time ease-in-out;
}

.align-right {
	margin-left: auto;
}

.thumbnail {
	position: relative;
	border: 1px solid grey;
	box-sizing: border-box;

	.thumbnail-image {
		opacity: .3;
		transition: opacity $transition-time ease-in-out;
	}

	.thumbnail-description {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		transition: opacity $transition-time ease-in-out;
	}
}

.dashed-list {
	li {
		line-height: 1.5em;

			&:before {
			content: '-';
			margin-right: 10px;
		}
	}
}

.strong {
	font-weight: bold;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.border-radius-3 {
	border-radius: 3px;
}

.full-height {
	height: 100%;
}

.fixed {
	position: fixed;
}

.full-width {
	width: 100%;
}

.max-width-1200 {
	max-width: 1200px;
}

.side-padding-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.exit-button-container {
	transform: translate(-100%, -50%);
}

.exit-button {
	width: 25px;
	height: 25px;
	position: relative;

	&:before, &:after {
		content: '';
		width: 100%;
		height: 2px;
		position: absolute;
		top: 50%;
		transition: transform $transition-time ease-in-out, background-color $transition-time ease-in-out;
		background-color: $secondary-color;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(135deg);
	}
}

.direction-button {
	position: relative;
	width: 25px;
	height: 25px;

	&.previous {
		transform: rotate(180deg);
	}

	&:before, &:after {
		content: '';
		position: absolute;
		width: 50%;
		height: 2px;
		background-color: $secondary-color;
		transition: transform $transition-time ease-in-out, background-color $transition-time ease-in-out;
		right: 0;
	}

	&:before {
		transform: rotate(45deg) translate(0%, 100%);
		top: 25%;
	}

	&:after {
		transform: rotate(-45deg) translate(0%, -100%);
		bottom: 25%;
	}
}

.case {
	grid-template-rows: auto 1fr auto;
}

@media(max-width: $breakpoint-tablets) {
	.mobile-full-width {
		width: 100vw;
		margin-left: - $section-side-padding
	}

	nav {
		box-shadow: 0px 2px 6px 0px rgba($primary-color, 0.15);
	}
}

@media(min-width: $breakpoint-tablets) {
	.from-2 {
	  grid-column-start: 2;
	}
	.from-3 {
		grid-column: 3;
	}
	.from-8 {
	  grid-column-start: 8;
	}
	.to-7 {
	  grid-column-end: 7;
	}
	.to-8 {
		grid-column-end: 8;
	}
	.to-10 {
	  grid-column-end: 10;
	}
	.to-11 {
		grid-column-end: 11;
	}
	.to-12 {
	  grid-column-end: 12;
	}
	.span-6 {
		grid-column: span 6;
	}

	.margin-bottom-100-tablets {
		margin-bottom: 100px;
	}

	.button {
		&:hover {
			border-color: $primary-color;
		}
	}

	.exit-button {
		&:hover {
			&:before, &:after {
				background-color: $primary-color;
			}
			&:before {
				transform: rotate(135deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
	}

	.direction-button {
		&:hover {
			&:before, &:after {
				background-color: $primary-color;
			}
			&:before {
				transform: rotate(-135deg) translate(0%, -100%);
			}

			&:after {
				transform: rotate(135deg) translate(0%, 100%);
			}
		}
	}

	.thumbnail {
		width: calc(50% - (#{$grid-column-gap} / 2));
		&:hover {
			.thumbnail-image {
				opacity: 1;
			}
			.thumbnail-description {
				opacity: 0;
			}
		}
	}

	a {
		&:hover {
			color: $primary-color;
		}
	}

	//Grid template areas

	.home {
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			" . header header header header header header header header header header . "
			" . biography biography biography biography biography  . portrait portrait portrait portrait . "
			" . button-container button-container button-container button-container button-container button-container button-container button-container button-container button-container . " ;

		header {
			grid-area: header;
		}

		.biography {
			grid-area: biography;
		}

		.portrait {
			grid-area: portrait;
		}

		.button-container {
			grid-area: button-container;
		}
	}

	.cases {
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			" . header header header header header header header header header header . "
			" . thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails . "
			" . button-container button-container button-container button-container button-container button-container button-container button-container button-container button-container . ";

		header {
			grid-area: header;
		}

		.thumbnails {
			grid-area: thumbnails;
		}

		.button-container {
			grid-area: button-container;
		}
	}

	.case {
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
		" . header header header header header header header header header header . "
		" . text text text text text . monitor monitor monitor monitor . "
		" . buttons-container buttons-container buttons-container buttons-container buttons-container buttons-container buttons-container buttons-container buttons-container buttons-container . ";

		header {
			grid-area: header;
		}

		.text-container {
			grid-area: text;
		}

		.monitor-image-container {
			grid-area: monitor;
		}

		.buttons-container {
			grid-area: buttons-container;
		}
	}


}
