/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// MY OWN CODE

//breakpoints:
$breakpoint-tablets: 481px;
$breakpoint-large-tablets: 768px;
$breakpoint-laptops: 1025px;

$content-max-width: 1200px;

$navbar-height: 50px;

$section-side-padding: 30px;
$section-top-padding: 20px;
$section-bottom-padding: 20px;

$primary-color: #5690CC;
$secondary-color: #A1453F;

$transition-time: .3s;


html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  position: absolute;
	font-family: Helvetica;
	font-size: 16px;
	overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
	height: 100%;
	max-height: 1000px;
	padding-left: $section-side-padding;
	padding-right: $section-side-padding;
	padding-top: $section-top-padding;

	> :last-child {
		padding-bottom: $section-bottom-padding;
	}
}

nav {
  height: $navbar-height;
	padding-left: $section-side-padding;
	padding-right: $section-side-padding;
	max-width: $content-max-width;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      margin-left: 30px;
    }
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
  font-weight: bold;
  display: block;
	transition: color $transition-time ease-in-out;

	&:hover {
		@media(min-width: $breakpoint-tablets) {
			color: $primary-color;
		}
	}

	&.active {
		color: $primary-color;
	}

	&.underline {
		position: relative;


		&:after {
			position: absolute;
			left: 0;
			bottom: -3px;
			content: '';
			height: 2px;
			width: 0%;
			background: $primary-color;
			transition: width $transition-time ease-in-out;
		}
	}

	&.underline.active {
		&:after {
			width: 100%;
		}
	}
}

img {
  max-width: 100%;
  display: block;
}

h1 {
	font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

p {
	margin-bottom: 1em;
	line-height: 1.3em;
}

.content {
  max-width: $content-max-width;
  margin: 0 auto;
	height: calc(100vh - (#{$navbar-height}));
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr [col-start]);
  grid-column-gap: 15px;
  margin: 0 auto;
  box-sizing: border-box;
	width: 100%;

	&.space-between {
	  align-content: space-between;
	}
}

.flex {
	display: flex;

	&.column {
		flex-direction: column;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.align-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}
}

.cell {
	grid-column-start: 1;
	grid-column-end: 13;
}

@media(max-width: $breakpoint-tablets) {
	.mobile-full-width {
		width: 100vw;
		margin-left: - $section-side-padding
	}
}

@media(min-width: $breakpoint-tablets) {
	.from-2 {
	  grid-column-start: 2;
	}
	.from-3 {
		grid-column: 3;
	}
	.from-8 {
	  grid-column-start: 8;
	}
	.to-7 {
	  grid-column-end: 7;
	}
	.to-8 {
		grid-column-end: 8;
	}
	.to-10 {
	  grid-column-end: 10;
	}
	.to-11 {
		grid-column-end: 11;
	}
	.to-12 {
	  grid-column-end: 12;
	}
	.span-6 {
		grid-column: span 6;
	}
}

.button {
  border: 1px solid $secondary-color;
  padding: 10px;
  border-radius: 5px;
	transition: border-color $transition-time ease-in-out, color $transition-time ease-in-out;

	&:hover {
		@media(min-width: $breakpoint-tablets) {
			border-color: $primary-color;
		}
	}
}

.align-right {
	margin-left: auto;
}

.thumbnail {
	position: relative;
	border: 1px solid grey;

	&:hover {
		@media(min-width: $breakpoint-tablets) {
			.thumbnail-image {
				opacity: 1;
				transition: opacity $transition-time ease-in-out;
			}

			.thumbnail-description {
				opacity: 0;
				transition: opacity $transition-time ease-in-out;
			}
		}
	}

	.thumbnail-image {
		opacity: .3;
	}

	.thumbnail-description {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.dashed-list {
	li {
		&:before {
			content: '-';
			margin-right: 10px;
		}
	}
}

.exit-link {
	transition: transform $transition-time ease-in-out;

	.exit-button-background {
		height: 25px;
		width: 25px;
		background-color: $secondary-color;
		border-radius: 50%;
		transition: background-color $transition-time ease-in-out;
	}

	&:hover {
		@media(min-width: $breakpoint-tablets) {
			transform: rotate(180deg);
			.exit-button-background {
				background-color: $primary-color;
			}
		}
	}
}

.strong {
	font-weight: bold;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.border-radius-3 {
	border-radius: 3px;
}
