html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  position: absolute;
}
.cases-thumbnail {
  max-width: 300px;
  border: 1px solid black;
  background-size: contain;
  background-position: center;
  height: 100px;
}
a {
  text-decoration: none;
  color: green;
  font-weight: bold;
  &.active {
    color: black;
    text-decoration: underline;
  }
  &.inactive {
    color: green;
  }
}

.content {
  width: 100%;
  max-width: 1200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 70px [col-start]);
  grid-column-gap: 30px;
  margin: 0 auto;
  padding: 0 30px;
}

img {
  max-width: 100%;
  display: inline-block;
}
