<section class="contact grid space-between side-padding-30">
  <header class="cell">
    <h2 class="margin-bottom-30">Contact</h2>
    <h4>I'm looking forward to hearing from you.</h4>
  </header>
  <div class="cell contact-content self-center margin-bottom-20">
    <h4 class="margin-bottom-20">hello@benibargera.com</h4>
    <div class="image-container mobile-full-width">
      <img src="/assets/images/headshot.jpg" class="border-radius-3" alt="My face">
    </div>
  </div>
  <div class="button-container cell flex justify-center">
    <a href="mailto:hello@benibargera.com" class="button">Email</a>
  </div>
</section>
{{outlet}}
