<section class="contact grid space-between side-padding-30">
  <header class="cell">
    <h2 class="margin-bottom-30">Contact</h2>
    <h4 class="margin-bottom-20">hello@benibargera.com</h4>
    <p>I'm looking forward to hearing from you.</p>
  </header>
  <div class="cell headshot mobile-full-width margin-bottom-20">
    <img src="/assets/images/headshot.jpg" class=" border-radius-3" alt="My face">
  </div>
  <div class="button-container cell flex justify-center">
    <a href="mailto:hello@benibargera.com" class="button">Email</a>
  </div>
</section>
{{outlet}}
