<section class="contact grid space-between">
  <header class="cell from-2 to-8">
    <h2 class="margin-bottom-30">Contact</h2>
    <h4 class="margin-bottom-20">hello@benibargera.com</h4>
    <p>I'm looking forward to hearing from you.</p>
    <div class="image-container mobile-full-width margin-bottom-20">
      <img src="/assets/images/portrait-outside.jpg" class=" border-radius-3" alt="My face">
    </div>
  </header>
  <div class="button-container cell from-2 to-12 flex justify-center">
    <a href="mailto:hello@benibargera.com" class="button">Email</a>
  </div>
</section>
{{outlet}}
