<Navigation/>
<section class="home grid space-between">
  <header class="cell from-2 to-12">
    <h1>Who I Am</h1>
  </header>
  <div class="biography cell from-2 to-7">
    <p>
      When I was 18, I moved to Canada to study International Relations at the University of British Columbia in Vancouver. After graduating in 2018, I began to work outdoors. Specifically, I worked as a rafting guide, ski instructor, and hiking guide in the Swiss Alps and the Rocky Mountains.
    </p>
    <p>
      When not outside, I taught myself how to use HTML, CSS, Javascript, and GIT. In January 2019, I finally started my first position as Frontend Developer at a media agency in Zurich, where I’m still working. While at Bühler&Bühler, I have learned how to use ES6, SASS, and a framework named Foundation. Currently I’m learning how to use ember.js.
    </p>
  </div>
  <div class="portrait cell from-8 to-12">
    <img src="/assets/images/portrait.jpg" alt="This is me">
  </div>
  <div class="button-container cell from-2 to-12 center">
    {{#link-to "cases" class="button"}} cases {{/link-to}}
  </div>
</section>
{{outlet}}
